# Fair Machine Learning - COMPAS dataset - Preprocessing R

In [1]:
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix

Import COMPAS dataset

In [2]:
df = pd.read_csv('../../Data/compas7214.csv')
df.head()

,Unnamed: 0,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
1,1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
4,4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7214 entries, 0 to 7213
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               7214 non-null   int64
 1   id                       7214 non-null   int64
 2   name                     7214 non-null   object
 3   first                    7214 non-null   object
 4   last                     7214 non-null   object
 5   compas_screening_date    7214 non-null   object
 6   sex                      7214 non-null   object
 7   dob                      7214 non-null   object
 8   age                      7214 non-null   int64
 9   age_cat                  7214 non-null   object
 10  race                     7214 non-null   object
 11  juv_fel_count            7214 non-null   int64
 12  decile_score             7214 non-null   int64
 13  juv_misd_count           7214 non-null   int64
 14  juv_other_count          7214 non-null   int64
 15  priors_count             7214 non-null   int64
 16  days_b_screening_arrest  6907 non-null   float64
 17  c_jail_in                6907 non-null   object
 18  c_jail_out               6907 non-null   object
 19  c_case_number            7192 non-null   object
 20  c_offense_date           6055 non-null   object
 21  c_arrest_date            1137 non-null   object
 22  c_days_from_compas       7192 non-null   float64
 23  c_charge_degree          7214 non-null   object
 24  c_charge_desc            7185 non-null   object
 25  is_recid                 7214 non-null   int64
 26  r_case_number            3471 non-null   object
 27  r_charge_degree          3471 non-null   object
 28  r_days_from_arrest       2316 non-null   float64
 29  r_offense_date           3471 non-null   object
 30  r_charge_desc            3413 non-null   object
 31  r_jail_in                2316 non-null   object
 32  r_jail_out               2316 non-null   object
 33  violent_recid            0 non-null      float64
 34  is_violent_recid         7214 non-null   int64
 35  vr_case_number           819 non-null    object
 36  vr_charge_degree         819 non-null    object
 37  vr_offense_date          819 non-null    object
 38  vr_charge_desc           819 non-null    object
 39  type_of_assessment       7214 non-null   object
 40  decile_score.1           7214 non-null   int64
 41  score_text               7214 non-null   object
 42  screening_date           7214 non-null   object
 43  v_type_of_assessment     7214 non-null   object
 44  v_decile_score           7214 non-null   int64
 45  v_score_text             7214 non-null   object
 46  v_screening_date         7214 non-null   object
 47  in_custody               6978 non-null   object
 48  out_custody              6978 non-null   object
 49  priors_count.1           7214 non-null   int64
 50  start                    7214 non-null   int64
 51  end                      7214 non-null   int64
 52  event                    7214 non-null   int64
 53  two_year_recid           7214 non-null   int64
dtypes: float64(4), int64(17), object(33)
memory usage: 3.0+ MB

From here on related to notebook of authors of "How we analyzed the COMPAS recidivism algorithm." <br>
https://github.com/propublica/compas-analysis <br>
https://www.propublica.org/article/how-we-analyzed-the-compas-recidivism-algorithm/

In [5]:
# filter dplyr warnings
%load_ext rpy2.ipython
import warnings
warnings.filterwarnings('ignore')

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [13]:
%%R
library(dplyr)
library(ggplot2)
raw_data <- read.csv("../../Data/compas7214.csv")
nrow(raw_data)

[1] 7214

In [14]:
%%R
ncol(raw_data)

[1] 54

In [17]:
%%R
nrow(df)

NULL